<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bsd_pointcut -->
      <package
            uri="http://lu.uni.geko.examples.bsd_pointcut"
            class="bsd_pc.Bsd_pcPackage"/>
   </extension>

</plugin>
