<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lts_advice -->
      <package
            uri="http://lts_advice"
            class="lts_av.Lts_avPackage"/>
   </extension>

</plugin>
