<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lts_pointcut -->
      <package
            uri="http://lts_pointcut"
            class="lts_pc.Lts_pcPackage"/>
   </extension>

</plugin>
