<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="lu.uni.geko.resources.refinedresourceloaderext">
      <client
            class="lu.uni.geko.ext.ifc.IfcResourceLoader">
      </client>
   </extension>
   <extension
         point="lu.uni.geko.weaver.add.simpleadderext">
      <client
            class="lu.uni.geko.ext.ifc.IfcSimpleAdder"
            priority="MAX_VALUE">
      </client>
   </extension>
   <extension
         point="lu.uni.geko.mmtransformer.genmodelmodifierext">
      <client
            class="lu.uni.geko.ext.ifc.IfcGenModelModifier"
            priority="MAX_VALUE">
      </client>
   </extension>
   <extension
         point="lu.uni.geko.weaver.copy.copierfactoryext">
      <client
            class="lu.uni.geko.ext.ifc.IfcCopierFactory"
            priority="99">
      </client>
   </extension>
   <extension
         point="lu.uni.geko.common.featureignorerext">
      <client
            class="lu.uni.geko.ext.ifc.IfcFeatureIgnorer"
            priority="100">
      </client>
   </extension>

</plugin>
